<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}"
        <title>{% block head %}Home{% endblock %}</title>
    </head>
    <body>
        <a href="/admin/start_questionnaire_upd">Upload Questionnaire</a>
        <a href="/admin/healthcheck">Healthcheck</a>
        <a href="/login">Login</a>
        <div class="container">{% block content %} {% endblock %}</div>
    </body>
</html>
